%europe-400{
    font-family: 'EuropeExt-Regular',sans-serif;
    font-weight: 400;
}

%europe-700{
    font-family: 'EuropeExt-Bold',sans-serif;
    font-weight: 700;
}
%murecho-300{
    font-family: 'Murecho-Light',sans-serif;
    font-weight: 300;
}
%murecho-500{
    font-family: 'Murecho-Medium',sans-serif;
    font-weight: 500;
}
%lato-300{
    font-family: 'Lato-Light',sans-serif;
    font-weight: 300;
}