.project {
    padding: 144px 0;
    background-image: url('../images/header/bg.png');

    &__content-wrapper {
        display: flex;
        justify-content: space-between;

    }

    &__inner {

        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    &__text-wrapper {
        max-width: 432px;
    }

    &__title {
        padding-bottom: 40px;
    }

    &__text {
        max-height: 144px;
        padding: 52px 48px 52px 0;
        position: relative;
        color: #000;

        &:last-child {
            &::before {
                content: '';
                background: #000;
                width: 500%;
                position: absolute;
                height: 1px;
                top: 0;
                right: 0;
            }

            &:last-child {
                &::after {
                    content: '';
                    background: #000;
                    width: 500%;
                    position: absolute;
                    height: 1px;
                    bottom: 0;
                    right: 0;
                }
            }


        }
    }

    &__slider {
        width: 720px;
        border: 1px solid #000;
        border-top: none;
        border-bottom: none;
        max-height: 430px;
    }

    &__slider {}

    &__slider-images {
        position: relative;

    }

    &__slider-img--r {
        position: absolute;
        top: 0;
        transition: all .5s;

        &:hover {
            opacity: 0;
        }
    }
}

.project-menu__btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 72px;
    height: 72px;
    border: none;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;

    z-index: 1;
    transition: all .5s;
    background: rgba(236, 237, 242, 0.5);

    &:hover {
        background: #ECEDF2;
    }
}

.project__modal {
    position: fixed;
    background-color: #ECEDF2;
    width: 100%;
    height: 100%;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2321;
    padding: 61px 0 62px;
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: all .5s;

    &::-webkit-scrollbar {
        display: none;
    }
}

.project__modal.project__modal--active {
    pointer-events: all;
    opacity: 1;
    transition: all .5s;
}

.project__modal-close {
    position: relative;
    z-index: 2333;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -54px;
}

.project__modal-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    position: relative;
}

.project__slide {
    display: none;
    max-height: 580px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    position: relative;
}

//Mod
.project__slide .slick-prev,
.project__slide .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 123;
    border: 1px solid #000;
    max-width: 76px;
    height: 100%;
    object-fit: contain;
}

.project__slide .slick-prev {
    left: -76px;
}

.project__slide .slick-next {
    right: 0;
    right: -76px;
}

//Основной
.project__slider .slick-prev,
.project__slider .slick-next {
    position: absolute;
    bottom: 0;
    border-radius: 0;
    border: none;
    border-top: 1px solid #000;
    width: 144px;
    height: 144px;
    right: 0;
    z-index: 1;
    padding: 0;
    margin: 0;
    background: rgba(236, 237, 242, 0.5);
    transition: all .5s;
    cursor: pointer;

    &:hover {
        background: #ECEDF2;
    }
}

.project__slider .slick-next {
    border-left: 1px solid #000;
}

.project__slider .slick-prev {
    left: 0;
    border-right: 1px solid #000;

}

.project-menu__btn-span {
    display: none;
    @extend %murecho-300;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.05em;
    color: #000000;
}

.project__modal-close--mob{
    display: none;
    @extend %murecho-300;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.05em;
    color: #000000;
}

@media(max-width:768px) {
    .project {
        padding: 80px 0;
    }

    .project__inner {
        border: none;
    }

    .project__content-wrapper {
        flex-direction: column-reverse;
    }

    .project__slider {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .project__text-wrapper {

        padding-top: 486px;
    }

    .project__slider .slick-prev,
    .project__slider .slick-next {
        position: absolute;
        bottom: -60px;
        border-radius: 0;
        border: none;

        width: 144px;
        height: 60px;
        right: 0;
        z-index: 1;
        padding: 0;
        margin: 0;
        background: transparent;
        transition: all .5s;

        &:hover {
            background: transparent;
        }
    }

    .project__slider .slick-next {
        border: none;
    }

    .project__slider .slick-prev {
        left: 0;
        border: none;

    }

    .project-menu__btn {
        border: none;
        background: transparent;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        bottom: -60px;
        z-index: 12312;
        width: 150px;
        height: 60px;

        &:hover {
            background: transparent;
        }

    }

    .project-menu__btn svg {
        display: none;
    }

    .project__slider>.slick-list {
        overflow: inherit;
    }

    .project__text {
        max-height: 100%;
        padding: 30px 0px 30px 0;

    }

    .project__text:first-child::before {
        content: "";
        background: #000;
        width: 600%;
        position: absolute;
        height: 1px;
        top: 0;
        right: -75%;

    }

    .project__text:last-child::before {
        right: -75%;
    }

    .project__text:last-child:last-child::after {
        right: -75%;
    }
    .project__slide {
       border: none;
      }
    .project__modal-close {
        display: none;
    }
    .project__modal-wrapper--btn{
        position: relative;
    }
    .project__modal-close--mob{
        display: block;
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        border: none;
        background: transparent;
        cursor: pointer;
       
    }
    // .project__modal-close {
    //     display: block;
    //     background: transparent;
    //     top: auto;
    //     right: 0;
    //     left: 50%;
    //     bottom: -250px;
    //     transform: translateX(-50%);
    // }
    .project__slide{
        
    }

    .project__slide .slick-prev,
    .project__slide .slick-next {
        position: absolute;
        top: auto;
        bottom: -60px;
        transform: translateY(0%);
        z-index: 123;
        border: none;
        width: 144px;
        height: 60px;
        object-fit: contain;
    }

    .project__slide .slick-prev {
        left: 0;
    }

    .project__slide .slick-next {
        
        right: 0;
    }
    .project-menu__btn-span {
        display: block;
    }

}



// .project__modal-close span {
//     display: block;
//     @extend %murecho-300;
//     font-size: 15px;
//     line-height: 110%;
//     letter-spacing: 0.05em;
//     color: #000000;
// }